nav{
  flex-direction: row;
  
  padding-inline: 3rem;
  padding-block: 1.5rem;
  border-radius: .8rem;
  gap: 2rem;

  background-color: #1f1f1f;
  font-size: small;
  border: 1px solid white;

  display: none;

  pointer-events: all;
}
.navlink{
    font-family: 'Poppins', sans-serif;
    color: white;
    text-decoration: none;
    min-width: 44px;
    min-height: 44px;
    padding: .8rem;
    border-radius: .3rem;
}


@media (min-width: 768px){
  nav{
    display: flex;
  }
}



