/* pages */
@import url('Homepage.css');
/* molekul */
@import url('molekul/Navbar.css');
@import url('molekul/Homepage-profile.css');
@import url('molekul/welcome-message.css');
/* atom */
@import url('atom/profile-placeholder.css');

/* global */
:root{
    --violetblue: #5739fb;
    --black: #1f1f1f;
    --gainsboro: #e6e6e6;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Inconsolata', monospace;
}
body{
    background-color: var(--gainsboro);
    height: 400vh;
}