.overlay-container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    box-sizing: border-box;
    padding: 2rem;

    z-index: 2;
    position: fixed;
}

.overlay-container .overlay-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.overlay-top-left{
    padding: 1rem;
    background-color: transparent;
    border-left: 1px solid var(--black);
    border-top: 1px solid var(--black);
}
.overlay-top-right{
    padding: 1rem;
    background-color: transparent;
    border-right: 1px solid var(--black);
    border-top: 1px solid var(--black);
}

.overlay-container .overlay-bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.overlay-bottom-left{
    padding: 1rem;
    background-color: transparent;
    border-left: 1px solid var(--black);
    border-bottom: 1px solid var(--black);
}
.overlay-bottom-right{
    padding: 1rem;
    background-color: transparent;
    border-right: 1px solid var(--black);
    border-bottom: 1px solid var(--black);
}

.github{
    font-size: small;
    color: var(--black);
    text-transform: uppercase;
    text-decoration: none;
    min-width: 44px;
    min-height: 44px;

    display: none;
}
.github:hover{
    color: var(--violetblue);
}
.nav-wrapper{
    padding: 1rem;
}

@media (min-width: 768px){
    .github{
        display: flex;
        align-items: center;
    }
}